.hero {
  background-image: url(../assets/img/spindrift-icha.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  height: 400px;
  width: 100%;


}
