/* ==========================================================================
   Site styles
   ========================================================================== */

html {
	border-top: 5px solid #111111;
}

body {
	font-family: avenir, helvetica, sans-serif;
	margin: 0 auto;

}

h1 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.space {
	padding-right: 1em;
}

.border {
	border-right: 3px solid;
}

.statement {

	text-align: center;
	border-right: none;
	border-right: 3px solid;
	padding-right: 1em;

	@include break(medium) {
	text-align: right;
}

	@include break(large) {
		text-align: right;
	}
}

@media screen and (max-width: 480px) {

h2 {
	text-align: center;
	border-right: none;
}
.button {
	text-align: center;
}

.statement {
	text-align: center;
	border-right: none;
}

}

.social {
	text-align: center;
}

.social li {
	display: inline;
	list-style:none;
	padding: 20px;

	a {
	color: black;
	&:hover {
		color: $green;
	}
}
}
